
.btn-success span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-success span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-success:hover span {
  padding-right: 25px;
}

.btn-success:hover span:after {
  opacity: 1;
  right: 0;
}

.totop {
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    display: none;
    background: #a05b7e;
    color: #fff;
    border-radius: 25px;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    font-size: 18px;
}

        